body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  color: #000000;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #FF9900;
}

p {
  color: #7D7987;
}